---
import CircleGrid from '../CircleGrid.astro'
---

<section class='homepage__about-product-section'>
  <h2 class='text-[60px] font-bold'>О Продукте</h2>

  <div class='mt-[100px] flex justify-between'>
    <div class=''>
      <CircleGrid />
    </div>
    <div class='w-[1420px] text-[36px] font-bold text-justify text-light'>
      <p class='mb-[80px]'>
        InvestMate — это персональный инвестиционный помощник, который
        использует искусственный интеллект для прогнозирования рынка и помогает
        инвесторам принимать более обоснованные инвестиционные решения.
      </p>
      <p>
        InvestMate анализирует исторические данные финансовых рынков, а также
        текущие тенденции и новости, чтобы предсказывать, какие инвестиционные
        инструменты могут быть наиболее выгодными в ближайшем будущем. Это
        поможет инвесторам снизить риски и увеличить потенциальную доходность
        своих инвестиций.
      </p>
    </div>
  </div>
</section>
