---
import Button from '../Button.astro'
import CircleGrid90 from '../CircleGrid90.astro'
---

<section class='homepage__cta-section relative my-[300px]'>
  <h2 class='text-[60px] font-bold text-justify'>
    Уже готовы покорить финансовые рынки с <span class='text-green'
      >InvestMate?</span
    > Приступайте к инвестированию уже сейчас и откройте новые возможности!
  </h2>
  <div class='flex justify-between mt-10'>
    <Button text='Изучить тарифы' />
    <div class='grid'>
      <CircleGrid90 />
    </div>
  </div>
</section>
