---
import Button from '../Button.astro'
---

<section class='homepage__hero-section'>
  <div class='flex justify-between w-[1704px] mx-auto'>
    <div class='w-[1010px]'>
      <h1 class='text-[60px] font-bold text-justify'>
        Инвестируйте с уверенностью — <span class='text-green'>InvestMate</span>
        — ваш надежный гид в мире финансовых возможностей.
      </h1>
      <p class='text-justify my-10'>
        Мы устраняем разрыв между знаниями об инвестициях и финансовым успехом,
        давая вам возможность создавать лучшие портфели и принимать более
        разумные инвестиционные решения с помощью InvestMate.
      </p>
      <Button text='Начать инвестировать' />
    </div>
    <img src='/Chart.png' alt='chart' />
  </div>
</section>

<style lang='scss'>
  section {
    background: linear-gradient(180deg, #191425 0%, #317d6b 100%);
  }
</style>
