---
import Button from '../Button.astro'
---

<section class='homepage__hero-section flex justify-between'>
  <div class='w-[1010px]'>
    <h1 class='text-[60px] font-bold text-justify'>
      Инвестируйте с уверенностью — <span class='text-green'>InvestMate</span> —
      ваш надежный гид в мире финансовых возможностей.
    </h1>
    <p class='text-justify my-10'>
      Мы устраняем разрыв между знаниями об инвестициях и финансовым успехом,
      давая вам возможность создавать лучшие портфели и принимать более разумные
      инвестиционные решения с помощью InvestMate.
    </p>
    <Button text='Начать инвестировать' />
  </div>
  <img src='/Chart.png' alt='chart' />
</section>
