---
import Card from '../Card.astro'
const content = [
  {
    info: [
      {
        title: '01. Сбор Данных',
        text: 'InvestMate собирает и обрабатывает разнообразные финансовые данные из различных источников, включая рыночные данные, данные о компаниях, новости и другие релевантные источники информации.',
      },
      {
        title: '02. Анализ',
        text: 'С помощью сложных вычислительных алгоритмов и методов машинного обучения, InvestMate проводит анализ собранных данных, чтобы выявить тренды, паттерны и связи между различными финансовыми показателями и факторами.',
      },
      {
        title: '03. Генерация Инвестиционных Рекомендаций',
        text: 'На основе результатов анализа, InvestMate генерирует персонализированные рекомендации для каждого пользователя. Это могут быть рекомендации по инвестиционным активам, стратегиям управления портфелем, оптимальным временам для покупки или продажи акций',
      },
    ],
    image: '/area-chart1.png',
  },
  {
    info: [
      {
        title: '04. Визуализация',
        text: 'InvestMate предоставляет пользовательский интерфейс, где инвесторы могут видеть аналитические данные и рекомендации в удобной и понятной форме. Это могут быть графики, диаграммы, таблицы и другие визуальные элементы, которые помогают в понимании и принятии решений.',
      },
      {
        title: '05. Мониторинг и Обновление',
        text: 'InvestMate постоянно отслеживает изменения на финансовых рынках и обновляет данные, чтобы обеспечить актуальность и надежность рекомендаций. Также мониторятся изменения в портфеле пользователя и предлагаются соответствующие рекомендации для оптимизации инвестиций.',
      },
      {
        title: '06. Пользовательская обратная связь',
        text: 'InvestMate учитывает обратную связь от пользователей, чтобы постоянно улучшать свои алгоритмы, функциональность и предоставляемые рекомендации.',
      },
    ],
    image: '/area-chart2.png',
  },
]
---

<section class='homepage__how-it-works-section mt-[200px]'>
  <div class='text-center w-[760px] mx-auto'>
    <h2 class='mb-[100px] text-[60px] font-bold'>Как это работает</h2>
    <p class='mb-[200px]'>
      InvestMate позволяет инвесторам получать доступ к ценной информации,
      аналитике и рекомендациям, которые помогают принимать обоснованные решения
      и повышать прибыльность своих инвестиций.
    </p>
  </div>

  {
    content.map((c) => (
      <div class='row flex justify-between items-center'>
        <div class='flex flex-col gap-6'>
          {c.info.map((i) => (
            <Card title={i.title} text={i.text} />
          ))}
        </div>
        <div class=''>
          <img src={c.image} alt='' />
        </div>
      </div>
    ))
  }
</section>

<style lang='scss'>
  .row {
    &:last-child {
      flex-direction: row-reverse;
    }
  }
</style>
