---
import AboutProduct from '../components/screens/AboutProduct.astro'
import Cta from '../components/screens/Cta.astro'
import Features from '../components/screens/Features.astro'
import Hero from '../components/screens/Hero.astro'
import HowItWorks from '../components/screens/HowItWorks.astro'
import Plans from '../components/screens/Plans.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='InvestMate.'>
  <main class='homepage'>
    <Hero />
    <Features />
    <div
      class='homepage__container flex flex-col gap-[100px] w-[1704px] mx-auto'
    >
      <AboutProduct />
      <HowItWorks />
      <Cta />
      <Plans />
    </div>
  </main>
</Layout>
