---
const { title, text } = Astro.props
---

<div class='card bg-white'>
  <div class='card__wrapper p-7 text-dark'>
    <div class='card__title mb-8 text-2xl font-bold'>{title}</div>
    <div class='card__text w-[640px] text-[18px] font-medium'>{text}</div>
  </div>
</div>

<style>
  .card {
    width: 696px;
    border-radius: 48px;
  }
</style>
